.blog-category span {
    background-color: var(--card-category-color);
    color: var(--default-color);
}

.section-blog-detail {
    background-color: var(--form-search-color);
}

.related-content .overflow-x-auto::-webkit-scrollbar {
    height: 8px;
}

.related-content .overflow-x-auto::-webkit-scrollbar-track {
    background: var(--background-color);
}

.related-content .overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.related-content .overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.related-scroll {
    padding-bottom: 1rem;
    scroll-padding-bottom: 1rem;
}

/* TABLE OF CONTENT */
.toc-js-automate a {
    color: var(--text-muted-color);
    text-decoration: none;
}

.toc-js-automate li::marker {
    color: var(--text-muted-color);
}

.toc::-webkit-scrollbar {
    width: 8px;
}

.toc::-webkit-scrollbar-track {
    background: var(--background-color);
    /* Default light background */
}

.toc::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Default gray thumb */
    border-radius: 10px;
}

.toc::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Slightly darker on hover */
}