<header class="bg-nav border-footer-border fixed z-100 w-full border-b-[0.03125rem] py-2 backdrop-blur-[1.25rem]">
    <div class="container">
        <div class="flex grow items-center justify-between">
            <div class="shrink-0"><a class="inline-block" href="/blog"><img alt="200Lab" loading="lazy" width="100.85"
                        height="32" decoding="async" data-nimg="1" class="h-8"
                        srcset="/blog/_next/image?url=%2Fblog%2F200lab-blog.png&amp;w=128&amp;q=75 1x, /blog/_next/image?url=%2Fblog%2F200lab-blog.png&amp;w=256&amp;q=75 2x"
                        src="/blog/_next/image?url=%2Fblog%2F200lab-blog.png&amp;w=256&amp;q=75"
                        style="color: transparent; cursor: pointer;"></a></div>
            <nav class="relative">
                <ul class="flex max-h-[56px] items-start gap-5 px-4">
                    <li class="group relative flex cursor-pointer flex-col items-center">
                        <div
                            class="group-hover:bg-primary group-hover:text-nav text-footer-text relative flex items-center justify-between gap-[6px] rounded-[6px] px-4 py-2 transition-colors before:absolute before:inset-0 before:left-0 before:top-[101%] before:h-4 before:w-full before:rounded-full before:bg-transparent before:content-[&quot;&quot;]">
                            <a class="text-sm font-medium leading-[157.143%]" href="https://200lab.io/">Trang chủ</a>
                        </div>
                    </li>
                    <li class="group relative flex cursor-pointer flex-col items-center">
                        <div
                            class="group-hover:bg-primary group-hover:text-nav text-footer-text relative flex items-center justify-between gap-[6px] rounded-[6px] px-4 py-2 transition-colors before:absolute before:inset-0 before:left-0 before:top-[101%] before:h-4 before:w-full before:rounded-full before:bg-transparent before:content-[&quot;&quot;]">
                            <a class="text-sm font-medium leading-[157.143%]" href="/blog/newest">Bài viết</a>
                        </div>
                    </li>
                    <li class="group relative flex cursor-pointer flex-col items-center">
                        <div
                            class="group-hover:bg-primary group-hover:text-nav text-footer-text relative flex items-center justify-between gap-[6px] rounded-[6px] px-4 py-2 transition-colors before:absolute before:inset-0 before:left-0 before:top-[101%] before:h-4 before:w-full before:rounded-full before:bg-transparent before:content-[&quot;&quot;]">
                            <a class="text-sm font-medium leading-[157.143%]" href="/blog/authors">Cộng tác viên</a>
                        </div>
                    </li>
                    <li class="group relative flex cursor-pointer flex-col items-center">
                        <div
                            class="group-hover:bg-primary group-hover:text-nav text-footer-text relative flex items-center justify-between gap-[6px] rounded-[6px] px-4 py-2 transition-colors before:absolute before:inset-0 before:left-0 before:top-[101%] before:h-4 before:w-full before:rounded-full before:bg-transparent before:content-[&quot;&quot;]">
                            <a class="text-sm font-medium leading-[157.143%]" href="https://200lab.io/khoa-hoc/">Khoá
                                học</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="flex items-center gap-[9px]"><button aria-label="Search" class="h-10 rounded-full p-2"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true" data-slot="icon" class="stroke-secondary h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
                    </svg></button><button aria-label="Toggle Mode"
                    class="relative flex h-10 items-center justify-center bg-none p-2"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z">
                        </path>
                    </svg></button><button
                    class="inline-flex items-center justify-center gap-2 whitespace-nowrap border-none transition-colors focus:font-bold focus-visible:outline-hidden disabled:pointer-events-none border-[rgba(103,110,118,0.16)] hover:bg-var(--gray200) shadow-[0px_0px_0px_1px_rgba(103,110,118,0.16)] hover:shadow-[0px_0px_0px_1px_rgba(0,0,0,0.2)] focus:shadow-[0px_0px_0px_4px_rgba(0,0,0,0.2)] disabled:shadow-[0px_0px_0px_1px_rgba(103,110,118,0.16)] disabled:bg-var(--gray100) disabled:text-var(--gray300) bg-primary text-background h-[2.5rem] rounded-[0.5rem] px-4 py-[0.5625rem] text-sm/[156.22%] font-medium"
                    aria-label="Login">Đăng nhập</button></div>
        </div>
    </div>
</header>


<div class="fixed inset-0 z-1 h-screen bg-black/60" role="button" tabindex="0">
    <div
        class="bg-background minxl:w-[40%] minlg:w-[60%] minmd:px-4 minmd:py-4 relative top-[10%] mx-auto w-[80%] rounded-[1.5rem] p-4 shadow-lg">
        <input
            class="w-full rounded-[1rem] border border-gray-500 px-4 py-3 outline-[0.09375rem] outline-neutral-400 focus:border-none focus:ring-0"
            placeholder="Tìm kiếm bài viết..." type="text" value="">
    </div>
</div>


<div
    class="bg-background minxl:w-[40%] minlg:w-[60%] minmd:px-4 minmd:py-4 relative top-[10%] mx-auto w-[80%] rounded-[1.5rem] p-4 shadow-lg">
    <input
        class="w-full rounded-[1rem] border border-gray-500 px-4 py-3 outline-[0.09375rem] outline-neutral-400 focus:border-none focus:ring-0"
        placeholder="Tìm kiếm bài viết..." type="text" value="l">
    <ul class="scrollbar-hidden mt-4 max-h-[22rem] overflow-y-auto"><a
            href="/blog/lo-trinh-de-tro-thanh-developer-web3">
            <li
                class="border-nav-item-focus hover:bg-nav-item-focus cursor-pointer  rounded-[0.5rem] border-b px-2  py-4 text-base/[156.22%]  font-medium">
                <strong class="text-primary font-bold">L</strong>Ộ TRÌNH ĐỂ TRỞ THÀNH WEB3 DEVE<strong
                    class="text-primary font-bold">L</strong>OPER</li>
        </a><a href="/blog/lam-the-nao-de-tro-thanh-full-stack-developer">
            <li
                class="border-nav-item-focus hover:bg-nav-item-focus cursor-pointer  rounded-[0.5rem] border-b px-2  py-4 text-base/[156.22%]  font-medium">
                <strong class="text-primary font-bold">L</strong>àm thế nào để trở thành Fu<strong
                    class="text-primary font-bold">ll</strong>-Stack Deve<strong
                    class="text-primary font-bold">l</strong>oper</li>
        </a><a href="/blog/lam-viec-voi-json-serialization-trong-flutter">
            <li
                class="border-nav-item-focus hover:bg-nav-item-focus cursor-pointer  rounded-[0.5rem] border-b px-2  py-4 text-base/[156.22%]  font-medium">
                <strong class="text-primary font-bold">L</strong>àm việc với JSON &amp; Seria<strong
                    class="text-primary font-bold">l</strong>ization trong F<strong
                    class="text-primary font-bold">l</strong>utter</li>
        </a><a href="/blog/lazy-loading-la-gi">
            <li
                class="border-nav-item-focus hover:bg-nav-item-focus cursor-pointer  rounded-[0.5rem] border-b px-2  py-4 text-base/[156.22%]  font-medium">
                <strong class="text-primary font-bold">L</strong>azy <strong
                    class="text-primary font-bold">L</strong>oading: Kỹ thuật Tối ưu Hiệu suất Website</li>
          
</ul>
</div>