{% macro header(profile,url_link_index) %}
<header id="header" class="header shadow d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
        <img src="{{profile.avatar}}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="/" class="logo d-flex align-items-center justify-content-center">
        <h1 class="sitename">{{profile.name}}</h1>
    </a>

    <div class="social-links text-center">
        <a href="{{profile.x_link}}" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="{{profile.finallyacebook_link}}" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="{{profile.instagram_link}}" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="{{profile.github_link}}" class="github"><i class="bi bi-github"></i></a>
        <a href="{{profile.linkedin_link}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="{{url_link_index}}hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
            <li><a href="{{url_link_index}}about"><i class="bi bi-person navicon"></i> About</a></li>
            <li><a href="{{url_link_index}}resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
            <li><a href="{{url_link_index}}portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
            <li><a href="{{url_link_index}}blog"><i class="bi bi-hdd-stack navicon"></i> Blog</a></li>

            <li><a href="{{url_link_index}}contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
            <li>
                <a id="darkModeToggle" class="dark-mode-toggle" href="javascript:void(0)"
                    onclick="toggleDarkMode()">
                    <i class="bi bi-moon navicon" id="themeIcon"></i> Dark Mode
                </a>
            </li>
        </ul>
    </nav>

</header>
{% endmacro %}