<section class="py-5" style="min-height: 23.5rem;">
    <div class="container text-center">
        <h2 class="mb-3">Subscribe to Our Newsletter</h2>
        <p class="mb-4 text-muted-custome">Stay updated with our latest articles and insights. Enter your email below!</p>
        <form action="/newsletter-signup" method="POST" class="row g-2 justify-content-center d-sm-inline-flex flex-nowrap">
            <div class="col-8 col-md-9 col-lg-12">
                <div class="input-group ">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Enter your email" required>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn" style="background-color: var(--blog-nav-item-color);color: var(--default-color);">Subscribe</button>
            </div>
        </form>
    </div>
</section>
